* {
  margin: 0;
}

.welcome-wrapper {
  position: absolute;
  top: 40px;
  left: 20%;
  right: 20%;

  height: 600px;
  background-color: silver;
}

#test {
  font-size: 100px;
  height: 100px;
  width: 100px;
  background-color: red;
}

.navi_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 30px;
  right: 30px;
}

.modal {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  margin-left: -250px;
  margin-top: -250px;

  background-color: red;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}
