* {
  margin: 0;
}

.welcome-wrapper {
  width: 100%;
}

#test {
  font-size: 100px;
  height: 100px;
  width: 100px;
  background-color: red;
}

/*///////////////PROJECT PAGE//////////////*/

.project-wrapper {
  width: 100%;
}

.project-flow {
  position: absolute;
  left: 49%;
  right: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-container-component {
  width: 300px;
  margin-left: -150px;
  height: 100px;
  background-color: pink;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*///////////////NAVIGATION//////////////*/

.navi_container {
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgba(36, 19, 99, 0.7);
  z-index: 1;
}

.navi_text {
  color: white;
}

.modal {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  margin-left: -250px;
  margin-top: -250px;

  background-color: red;
}

.project-modal {
  -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: -250px;
  margin-top: -250px;
  border-radius: 30px;
  padding-top: 50px;
  background-color: blue;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}
