* {
  background-color: blue;
}

.welcome-wrapper {
  width: 400px;
  height: 600px;
  background-color: silver;
}

#test {
  font-size: 100px;
  height: 100px;
  width: 100px;
  background-color: red;
}
